  @charset "UTF-8";

  html {
    box-sizing: border-box;
  }

  * {
    box-sizing: inherit;
  }

  body {
    font-family: Georgia, serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header_title a {
    text-decoration: none;
    color: #0091C4;
    display: flex;
    align-items: center;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #0091C4;
    justify-content: center;
    align-items: center;
  }

  header img {
    height: 50px;
    width: auto;
  }

  #cart_icon {
    height: 40px;
    width: auto;
  }

  #header_center {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }

  #header_bottom {
    width: 100%;
    height: 1.25rem;
    background-color: #0091C4;
  }

  #header_top {
    width: 100%;
    height: 1.25rem;
    background-color: #009E48;
  }

  .selection_menu {
    position: relative;
    display: inline-block;
  }

  .selection_elt {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    z-index: 1;
    margin-left: 1rem;
    border-radius: 15px;
  }

  .selection_elt a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .selection_menu:hover .selection_elt {
    display: block;
  }

  .selection_elt a:hover {
    background-color: #E7E7E7;
    border-radius: 15px;
  }

  header button {
    background-color: #E7E7E7;
    border-color: #E7E7E7;
    color: #0091C4;
    font-weight: bold;
    border-radius: 15px;
    margin-left: 0.75rem;
    height: 40px;
    width: 150px;
    border-style: none;
  }

  header h1 {
    margin-left: 0.75rem
  }

  #page_links {
    display: flex;
    gap: 0.75rem;
    margin-right: 0.75rem;
    align-items: center;
  }

  footer {
    background-color: #E7E7E7;
    text-align: center;
  }

  #main_container {
    display: flex;
    width: 100%;
    padding: 3rem;
  }

  #container {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    align-items: center;
  }

  #description {
    border-top: 2px solid #009E48;
    border-bottom: 2px solid #0091C4;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }

  #information, #quantity, #counter {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
  }

  #information {
    margin-top: 0.5rem;
    gap: 40rem;
  }

  #counter {
    margin-left: 10rem;
    gap: 3rem;
    font-size: xx-large;
  }

  #cart {
    width: 200px;
    height: 55px;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: x-large;
    display: flex;
    background-color: #E7E7E7;
    margin-top: 0.75rem;
    text-decoration: none;
  }

  #cart img {
    width: 30px;
    height: auto;
    margin-right: 0.75rem;
  }

  #product_img {
    width: 500px;
    height: auto;
  }

  #data {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    align-items: center;
    gap: 1rem;
  }